.head-area-wrapper {
    background-color: #fbfaf9;
}

.head-area  {
    padding: 15px 0 30px 0;
    .org-logo {
        height: 60px;
        margin: 15px 0;
    }
    .course-name {
        font-size: 2.25rem;
        font-weight: 700;
    }

    display: flex;
    .media {
        @media screen and (max-width: 768px) {
            display: none;
        }
        .course-image {
            max-width: 100%;
        }
    }
    >div {
        flex: 0 0 50%;
        @media screen and (max-width: 768px) {
            flex: unset;
        }
        padding-right : 1rem;
    }

    .page-nav {
        font-size: 0.875rem;
       .pgn__hyperlink {
        display: flex;
        align-items: center;
       }
       .nav-text {
        padding-left: 5px;
       }
    }
    .enroll-btn-wrapper {
        padding: 1rem 0;
        button {
            border-radius: 0;
        }
    }
    .short-description {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
                line-clamp: 3; 
        -webkit-box-orient: vertical;
    }
}

.info-area-wrapper {
    top: -30px;
    position: relative;
    .skew {
        transform: skew(-12deg);
        position: absolute;
        @media screen and (max-width: 600px) {
            max-width: 100%!important;
            transform: skew(0)!important;
        }
    }
    .skew-1 {
        background-color: #F2F0EF;
        height: 100%;
        z-index: 1;
        max-width: 80%;
        width: 1140px;
    }

    .skew-2 {
        background-color: #C32D3A;
        height: 50%;
        z-index: 0;
        max-width: calc(80% + 8px);
        bottom: 0;
        width: 1148px;
    }

    .info-area {
        display: flex;
        align-items: center;
        padding: 1rem 0 0 0;
        flex-wrap: wrap;
        z-index: 2;
        position: relative;
        >div {
            margin-right: 30px;
            margin-bottom: 1rem;
            display: flex;
            align-items: center;
            >div {
                &:first-child {
                    margin-right: 5px;
                    .pgn__icon {
                        width:  26px;
                        height: auto;
                    }
                }
                &:nth-child(2) {
                    font-weight: 600;
                    font-size: 1.2rem;
                }
            }
            &:last-child {
                padding-right: 30px;
            }
        }
    }
}

.body-area {
    margin-bottom: 50px;
    .about-content {
        img {
            max-width: 100%;
        }
        .teacher {
            overflow: hidden;
            .teacher-image {
                img {
                    margin-right: 1rem;
                }
            }
        }
    }
}