.head-area-wrapper {
    background-color: #fbfaf9;
    .org-logo {
        height: 60px;
        margin: 15px 0;
    }

    .page-nav {
        padding-top: 15px;
        font-size: 0.875rem;
       .pgn__hyperlink {
            width: fit-content;
            display: flex;
            align-items: center;
       }
       .nav-text {
        padding-left: 5px;
       }
    }
}

.head-area  {
    padding: 15px 15px 30px 15px;

    .course-name {
        font-size: 2.25rem;
        font-weight: 700;
    }

    display: flex;
    .media {
        display: flex;
        align-items: center;
        @media screen and (max-width: 768px) {
            display: none;
        }
        .course-image {
            max-width: 100%;
            max-height: 300px;
        }
        .media-image-video {
            display: flex;
            align-items: center;
            position: relative;
            text-align: center;
            .play-video {
                border-radius: 0;
                position: absolute;
                top:calc(50% - 22px);
                left: calc(50% - 52px);
            }
        }
        video {
            height: 300px;
        }
    }
    >div {
        flex: 0 0 50%;
        @media screen and (max-width: 768px) {
            flex: unset;
        }
        padding-right : 1rem;
    }
    .enroll-btn-wrapper {
        padding: 1rem 0;
        button {
            border-radius: 0;
        }
    }
    .short-description {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
                line-clamp: 3; 
        -webkit-box-orient: vertical;
    }
}

.info-area-wrapper {
    top: -30px;
    position: relative;
    .skew-1 {
        background-color: #F2F0EF;
        height: 100%;
        z-index: 1;
        max-width: 90%;
        width: 90%;
    }

    .skew-2 {
        background-color: #C32D3A;
        height: 50%;
        z-index: 0;
        max-width: calc(90% + 8px);
        bottom: 0;
        width: calc(90% + 8px);
        box-shadow: 0 2px 4px #00000026, 0 2px 8px #00000026;
    }
    .skew {
        transform: skew(-12deg);
        position: absolute;
        max-width: 1400px!important;
        @media screen and (max-width: 600px) {
            max-width: 100%!important;
            width: 100%!important;
            transform: skew(0)!important;
        }
        &.skew-2 {
            max-width: 1408px!important;
        }
    }
    .info-area {
        display: flex;
        align-items: center;
        padding: 1rem 0 0 0;
        flex-wrap: wrap;
        z-index: 2;
        position: relative;
        >div {
            margin-right: 30px;
            margin-bottom: 1rem;
            display: flex;
            align-items: center;
            >div {
                &:first-child {
                    margin-right: 5px;
                    .pgn__icon {
                        width:  auto;
                        height: 3.5rem;
                    }
                }
                &:nth-child(2) {
                    font-size: 1.2rem;
                }
            }
            &:last-child {
                padding-right: 30px;
            }
        }
    }
}

.body-area {
    margin-bottom: 50px;
    .about-content {
        img {
            max-width: 100%;
        }
        .teacher {
            overflow: hidden;
            .teacher-image {
                img {
                    margin-right: 1rem;
                }
            }
        }
        .course-about-hidden-info {
            display: none!important;
        }
    }

    .view-course-in {
        display: flex;
        margin-bottom: 20px;
        > button {
            margin-right: 1.5rem;
            border-radius: 0;
        }
    }
}

.fw-600 {
    font-weight: 600;
}

.about-page-wrapper {
    min-height: 100vh;
}